.feedback{
  background: #0075ff;
  .wrapper{
    display: flex;
    padding-top: 125px;
    padding-bottom: 140px;
    h2{
      width: 575px;
    }
    .feedback-form{
      display: flex;
      flex-direction: column;
      color: #fff;
      padding-top: 60px;
      padding-left: 80px;
      p{
        font-size: 20px;
        padding-bottom: 20px;
      }
      input{
        max-width: 446px;
        font-size: 23px;
        border: 0;
        border-radius: 3px;
        background-color: #2d8dff;
        padding: 15px;
        margin-bottom: 15px;
        &::placeholder{
          color: #fff;
        }
      }
      .submit-btn{
        text-align: center;
        margin: 20px;
      }
    }
  }
}