/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* end reset browser styles */
* {
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #000; }

.wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px; }

.wrap-header-footer {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px; }

h2 {
  font-family: Raleway, Arial, sans-serif;
  font-size: 65px;
  font-weight: 900;
  line-height: 1.21;
  color: #fff; }

h3 {
  max-width: 58%;
  font-family: Raleway, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800; }

.btn {
  display: inline-block;
  font-size: 23px;
  font-weight: 500;
  line-height: 65px;
  color: #0075ff;
  background: #fff;
  border-radius: 5px;
  padding: 0 28px;
  border: 0;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0 0 10px #000; }

.header {
  background: #0075ff; }
  .header .wrap-header-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px; }
    .header .wrap-header-footer .azrbaycanca {
      color: #fff;
      text-decoration: underline; }

.welcome {
  background: #0075ff;
  padding-top: 75px; }
  .welcome .wrapper {
    background: url(img/rocket.png) 100% 0 no-repeat; }
  .welcome h2 {
    width: 70%;
    padding-bottom: 20px; }
  .welcome p {
    max-width: 454px;
    font-size: 20px;
    line-height: 1.25;
    color: #fff;
    padding-bottom: 50px; }
  .welcome .btn {
    margin-bottom: 120px; }

.small-business {
  background: #fff;
  padding-bottom: 20px; }
  .small-business h3 {
    padding: 80px 0; }
  .small-business .business-services-list {
    display: flex;
    flex-wrap: wrap; }
    .small-business .business-services-list .services-list-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 220px;
      margin-right: 160px;
      margin-bottom: 60px; }
      .small-business .business-services-list .services-list-item:nth-child(3n) {
        margin-right: 0; }
      .small-business .business-services-list .services-list-item .img {
        height: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
      .small-business .business-services-list .services-list-item .head-list-item {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25;
        color: #0075ff;
        padding-bottom: 10px; }
      .small-business .business-services-list .services-list-item p {
        line-height: 1.38; }

.all-goods {
  background: #fddd37 url(img/fill.png) 100% 50px no-repeat; }
  .all-goods .wrapper {
    padding-top: 220px;
    display: flex; }
    .all-goods .wrapper .notebook {
      margin-left: -110px; }
    .all-goods .wrapper h3 {
      padding-left: 50px;
      font-size: 55px; }
    .all-goods .wrapper img {
      width: 100%; }

.feedback {
  background: #0075ff; }
  .feedback .wrapper {
    display: flex;
    padding-top: 125px;
    padding-bottom: 140px; }
    .feedback .wrapper h2 {
      width: 575px; }
    .feedback .wrapper .feedback-form {
      display: flex;
      flex-direction: column;
      color: #fff;
      padding-top: 60px;
      padding-left: 80px; }
      .feedback .wrapper .feedback-form p {
        font-size: 20px;
        padding-bottom: 20px; }
      .feedback .wrapper .feedback-form input {
        max-width: 446px;
        font-size: 23px;
        border: 0;
        border-radius: 3px;
        background-color: #2d8dff;
        padding: 15px;
        margin-bottom: 15px; }
        .feedback .wrapper .feedback-form input::placeholder {
          color: #fff; }
      .feedback .wrapper .feedback-form .submit-btn {
        text-align: center;
        margin: 20px; }

.footer .wrap-header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 15px; }
  .footer .wrap-header-footer a {
    color: #9b9b9b; }
  .footer .wrap-header-footer .about {
    display: flex; }
    .footer .wrap-header-footer .about li {
      padding-left: 70px; }
      .footer .wrap-header-footer .about li a:hover {
        text-decoration: underline; }
  .footer .wrap-header-footer .social {
    display: flex; }
    .footer .wrap-header-footer .social li {
      padding-left: 60px; }
      .footer .wrap-header-footer .social li .fab:hover {
        transform: scale(1.2); }

@media (max-width: 1024px) {
  .small-business .business-services-list {
    flex-wrap: wrap; }
    .small-business .business-services-list .services-list-item {
      margin-right: 80px; }
      .small-business .business-services-list .services-list-item:nth-child(3n) {
        margin-right: 80px; }
  .all-goods .wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    align-items: center; }
    .all-goods .wrapper .notebook {
      text-align: center;
      margin-left: 0; }
    .all-goods .wrapper h3 {
      max-width: 100%;
      text-align: center;
      padding-left: 0; }
    .all-goods .wrapper img {
      width: 100%; }
  .feedback .wrapper {
    display: flex;
    flex-direction: column; }
    .feedback .wrapper h2 {
      width: 100%;
      text-align: center; }
    .feedback .wrapper .feedback-form {
      margin: 0 auto;
      padding: 60px 15px 15px; }
  .footer .wrap-header-footer .about li {
    padding-left: 30px; }
  .footer .wrap-header-footer .social li {
    padding-left: 20px; } }

@media (max-width: 768px) {
  .small-business h3 {
    max-width: 100%;
    text-align: center; }
  .small-business .business-services-list {
    justify-content: space-around; }
  .footer .wrap-header-footer {
    flex-direction: column; }
    .footer .wrap-header-footer h1 {
      padding-bottom: 30px; }
    .footer .wrap-header-footer .about {
      padding-bottom: 30px; } }

@media (max-width: 480px) {
  h2 {
    font-size: 50px; }
  h3 {
    font-size: 40px; }
  .all-goods .wrapper h3 {
    font-size: 40px; }
  .small-business .business-services-list .services-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 0; }
    .small-business .business-services-list .services-list-item:nth-child(3n) {
      margin-right: 0; }
    .small-business .business-services-list .services-list-item .img {
      margin: 0 auto;
      padding-bottom: 25px; }
  .footer .wrap-header-footer .about {
    flex-direction: column;
    text-align: center; }
    .footer .wrap-header-footer .about li {
      padding-bottom: 15px; } }

@media (max-width: 480px) {
  h2 {
    font-size: 35px; }
  h3 {
    font-size: 30px; }
  .header .wrap-header-footer {
    flex-direction: column; }
  .all-goods .wrapper h3 {
    font-size: 30px; } }

@media (max-width: 320px) {
  .feedback .wrapper .feedback-form {
    align-items: center; }
    .feedback .wrapper .feedback-form input {
      max-width: 260px;
      font-size: 16px; } }
