@media (max-width: 1024px) {
  .small-business{
    .business-services-list{
      flex-wrap: wrap;
      .services-list-item{
        margin-right: 80px;
        &:nth-child(3n){
          margin-right: 80px;
        }
      }
    }
  }
  .all-goods{
    .wrapper{
      padding-top: 80px;
      padding-bottom: 80px;
      flex-wrap: wrap;
      align-items: center;
      .notebook{
        text-align: center;
        margin-left: 0;
      }
      h3{
        max-width: 100%;
        text-align: center;
        padding-left: 0;
      }
      img{
        width: 100%;
      }
    }
  }
  .feedback{
    .wrapper{
      display: flex;
      flex-direction: column;
      h2{
        width: 100%;
        text-align: center;
      }
      .feedback-form{
        margin: 0 auto;
        padding: 60px 15px 15px;
      }
    }
  }
  .footer{
    .wrap-header-footer{
      .about{
        li{
          padding-left: 30px;
        }
      }
      .social{
        li{
          padding-left: 20px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .small-business{
    h3{
      max-width: 100%;
      text-align: center;
    }
    .business-services-list{
      justify-content: space-around;
    }
  }
  .footer{
    .wrap-header-footer{
      flex-direction: column;
      h1{
        padding-bottom: 30px;
      }
      .about{
        padding-bottom: 30px;
      }
    }
  }
}
@media (max-width: 480px) {
  h2{
    font-size: 50px;
  }
  h3{
    font-size: 40px;
  }
  .all-goods{
    .wrapper{
      h3{
        font-size: 40px;
      }
    }
  }
  .small-business{
    .business-services-list{
      .services-list-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 0;
        &:nth-child(3n){
          margin-right: 0;
        }
        .img{
          margin: 0 auto;
          padding-bottom: 25px;
        }
      }
    }
  }
  .footer{
    .wrap-header-footer{
      .about{
        flex-direction: column;
        text-align: center;
        li{
          padding-bottom: 15px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 30px;
  }
  .header{
    .wrap-header-footer{
      flex-direction: column;
    }
  }
  .all-goods{
    .wrapper{
      h3{
        font-size: 30px;
      }
    }
  }
  .feedback{
    .wrapper{
      .feedback-form{
        input{
          max-width: 260px;
          font-size: 16px;
        }
      }
    }
  }
}